apiVersion: v1
kind: Service
metadata:
  name: mongodb
  labels:
    app: mongodb
spec:
  ports:
    - port: 27017
      protocol: TCP
      name: mongodb
  selector:
    app: mongodb
    tier: backend
  type: ClusterIP